<% layout("/layout/boilerplate") %>
    <link rel="stylesheet" href="/stylesheets/stars.css">
    <!-- google maps api key :AIzaSyDcT2L9JZsYRXdLWz1CbABid-Pt3NDgk5E -->


    <div class="row">
        <div class="col-6 ">


            <div class="card mt-3 shadow-sm p-3 mb-5 bg-white rounded" style="width:30rem;">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <% place.images.forEach((img,i)=>{%>

                            <div class="carousel-item <%= i===0 ? " active" :"" %> ">
                                <img src="<%= img.url%>" class="d-block w-100" alt="...">
                            </div>
                            <% }) %>
                    </div>
                    <% if (place.images.length>1) { %>


                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <% } %>
                </div>

                <div class="card-body">
                    <h5 class="card-title">
                        <%= place.title %>
                    </h5>
                    <p class="card-text">
                        <%= place.description %>
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <%= place.location %>
                        </li>
                        <li class="list-group-item">
                            created by <%= place.author.username %>
                        </li>
                        <li class="list-group-item"> &#8377; <%= place.price %> <span>/day</span>
                        </li>

                    </ul>
                    <!-- edit and delete can be accesed by author -->
                    <% if (currentUser&& place.author.equals(currentUser)) { %>


                        <div class="card-body ">
                            <div class="mb-3 row btn-group">
                                <a href="http://localhost:3000/place/<%= place._id %>/edit"
                                    class="card-link btn btn-primary col-6 mb-3">
                                    edit </a>

                                <form action="/place/<%= place._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger  mb-3"> DELETE
                                    </button>
                                </form>

                                <a href="http://localhost:3000/place/" class="card-link col-12 mb-1"> go back to
                                    places</a>
                            </div>
                        </div>
                        <% } %>
                </div>
                <div class="col-12">
                    <div style="width: 100%"><iframe width="100%" height="300" frameborder="0" scrolling="no"
                            marginheight="0" marginwidth="0"
                            src="https://maps.google.com/maps?width=100%25&amp;height=300&amp;hl=en&amp;q=<%= place.title%>,<%= place.location %>&amp;t=k&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
                                href="https://www.gps.ie/marine-gps/">location</a></iframe>
                        <!-- to localize the map -->
                        <script
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcT2L9JZsYRXdLWz1CbABid-Pt3NDgk5E&region=JP&language=ja&callback=initMap">

                            </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 mt-3">



            <h4>leave a review</h4>
            <form action="/place/<%= place._id%>/review/" method="POST" class="mb-3 validated-form " novalidate>
                <div class="mb-3">
                    <label for="rating" class="form-label">rating</label>
                    <!-- <input class="form-control-range" type="range" name="review[rating]" id="rating" min="1" max="5"> -->


                    <fieldset class="starability-heart">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                            aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>





                </div>


                <div class="mb-3">

                    <label for="body" class="form-label">review</label>

                    <textarea name="review[body]" id="body" cols="55" rows="10" required></textarea>
                    <div class="valid-feedback">looks good</div>
                    <div id="body" class="invalid-feedback">
                        empty review
                    </div>
                </div>
                <div class="mb-3"><button class="btn btn-success" type="submit">submit</button></div>
            </form>

            <div>
                <% for( let item of place.reviews ) { %>
                    <div class="card shadow p-1 mb-3 bg-white rounded">
                        <div class="card-body ">
                            <h3>rating</h3>
                            <p class="starability-result" data-rating="<%=item.rating%>">
                                Rated: <%= item.rating %> stars
                            </p>

                            <h6 class="card-subtitle">
                                by <%=item.author.username %>
                            </h6>
                            <p class="card-text">

                                <%= item.body %>
                            </p>
                            <% if (currentUser&& item.author.equals(currentUser)) { %>

                                <form action="/place/<%= place._id%>/review/<%= item._id%>?_method=DELETE"
                                    method="POST">
                                    <button class="btn btn-sm btn-danger">DELETE</button>
                                </form>
                                <% } %>
                        </div>



                    </div>
                    <% } %>

            </div>
        </div>

        <!-- <div class="map col">

            <iframe width="300" height="300" style="border: 0" loading="lazy" allowfullscreen class="mx-3 row"
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDcT2L9JZsYRXdLWz1CbABid-Pt3NDgk5E &origin=indore &destination=<%= place.title%>,<%= place.location %>;z=8">
                
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcT2L9JZsYRXdLWz1CbABid-Pt3NDgk5E&region=IN&language=IN&callback=initMap">

            </script>
        </iframe>
         </div> -->


    </div>